
div{
    background-color: lightgray;
    margin-top: 15%;
    border: 4px solid black;
    width:fit-content;
    text-align: center;
    padding-left: 10%;
    padding-bottom: 5%;
    padding-right: 10%;
    border-radius: 5%;
    display: inline-block;
}

button{
    background-color: orange;
    color: white;
    font-size: 20px;
    padding: 2%;
    font-weight: bold;
    text-align: center;
    transition: all;
    margin-right: 30px;
    margin-left: 20px;
}

button:hover{
    transform: translateY(-5px);
    border: 3px solid white;
    transition: 3ms;
}

nav{
    background-color: orange;
    padding-top: 1px;
    padding-bottom: 1px;
    color: white;
    font-family: "Comic Sans MS";
    font-weight: bolder;
    text-align: center;
    font-size: larger;
}