div{
    background-color: black;
    color: white;
    width: fit-content;
    border-radius: 5%;
    border: 4px solid white;
    padding-left: 10%;
    padding-bottom: 5%;
    padding-right: 10%;
    margin-top: 15%;
    overflow: hidden;
}

h2{
    background-color: orange;
    margin-left: -50%;
    margin-right: -50%;
    padding: 5%;
    font-size: 30px;
    font-weight: bold;
}

button{
    background-color: orange;
    color: white;
    font-size: 20px;
    padding: 5%;
    font-weight: bold;
    text-align: center;
    transition: all;
}

button:hover{
    transform: translateY(-5px);
    border: 2px solid white;
    width:50%;
    transition: 3ms;
}

input{
    padding-right: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
}