nav{
    background-color: orange;
    padding-top: 1px;
    padding-bottom: 1px;
    color: white;
    font-family: "Comic Sans MS";
    font-weight: bolder;
    text-align: center;
    font-size: larger;

}

#img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

#img img{
    width: 150px;
    height: 150px;
    object-fit: contain;
}

#search{
    align-items: center;
}

#search input{
    width: 50%;
    border: 2px solid black;
    background-color: lightgray;
}